body {
    padding: 0;
    margin: 0;
    background-color: var(--primaryColor);
}

.contentBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 59px;
    height: 100%;
    border-right: 1px solid var(--thirdColor);
    background-color: var(--secondaryColor);
}

.contentContainer {
    position: absolute;
    left: 60px;
    top: 0;
    width: calc(100% - 60px);
    height: 100%;
    background-color: var(--primaryColor);
}

.upContentBar {
    position: absolute;
    left: 10px;
    top: 50px;
    width: 40px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.downContentBar {
    position: absolute;
    left: 10px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.contentButton {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentButtonInactive {
    padding: 0;
    margin: 0;
}

.contentButtonInactive:hover {
    background-color: var(--primaryColor);
}

.contentButtonActive {
    padding: 0;
    margin: 0;
    background-color: var(--thirdColor);
}

.contentPage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.displaying {
    display: block;
}

.notDisplaying {
    display: none;
}

.mainContentContainer {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px);
    height: 100%;
    word-wrap: break-word;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
}

.mainContentContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}